$icon-font-path: '../fonts/';
$height-iframe: 300px;
$height-iframe-big: 400px;

$width-iframe: 95%;
$width-iframe-big: 100%;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family:  Verdana, sans-serif;
}

.navbar-brand {
  padding-top: 18px;
}

.navbar{
  margin-bottom: 0px;
}

.twitter-section-container {
  text-align: center;
}

.twitter-section {
  display: inline-block;
}

.main-title {
  font-family: 'Special Elite','serif';
  font-size: 60px;
  font-weight:normal;
}

.subtitle {
  // font-family: 'Special Elite','serif';
  margin-top: -10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.title-section {
  padding-top: 60px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.presents {
  font-size: 25px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width: $width-iframe;
   height: $height-iframe; /* your iframe height */
   top: $height-iframe;  /* your iframe height */
   margin-top: -$height-iframe;  /* your iframe height */
}

.info-section {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.credits-section {
  text-align: center;
  .title {
    font-weight: bold;
    font-size: 22px;
  }
  .name { 
    font-size: 16px;
  }
  .director {
    padding-bottom: 20px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.title-panel {
  background-image: url("/images/background_cover_mobile.png");
  background-position: bottom;
  background-size: cover;
  height: 570px;
}

.info-panel {
  padding: 70px 0px;
  background: #E26A6A;
  color: white;
}

.credit-panel {
  padding: 100px 0px;
  background: #ECECEC;
  color: #22313F; 
}

.social-media-panel {
  padding: 100px 0px;
  background: #222;
  color: #9d9d9d; 
}

.description-inner {
  text-align: left;
  margin: auto;
  padding: 8.5% 5%;
}

.address {
  margin-top: 40px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #9d9d9d;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.map {
  width: $width-iframe;
  height: $height-iframe;
  margin-top: 40px;
}

.ticket-info {
  padding-bottom: 70px;
  font-size: 50px;

}

.discount {
  font-size: 16px;
   opacity: 0.8;
}

.info-row {
  display: flex;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
    font-size: 150px;
  }

  .subtitle {
    font-size: 35px;
  }

  .title-panel {
    background-position: center;
    background-image: url("/images/background_cover.png");
    background-size: cover;
    height: 1200px;
  }

  .map {
    width: $width-iframe-big;
    height: $height-iframe-big;
    margin-top: 0px;
  }

  .overlay {
     background:transparent; 
     position:relative; 
     width: $width-iframe-big;
     height: $height-iframe-big;
     top: $height-iframe-big;
     margin-top: -$height-iframe-big;
  }

  .credits-section {
    .title {
      font-size: 30px;
    }
    .name { 
      font-size: 22px;
    }
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 35px;
  }

  .title-panel {
    background-position: bottom;
    background-image: url("/images/background_cover_mobile.png");
    background-size: cover;
    height: 800px;
  }

  .map {
    width: $width-iframe-big;
    height: $height-iframe-big;
    margin-top: 40px;
  }

  .overlay {
     background:transparent; 
     position:relative; 
     width: $width-iframe-big;
     height: $height-iframe-big;
     top: $height-iframe-big;
     margin-top: -$height-iframe-big;
  }

  .credits-section {
    .title {
      font-size: 30px;
    }
    .name { 
      font-size: 22px;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
    font-size: 120px;
  }

  .subtitle {
    font-size: 35px;
  }

  .title-panel {
    background-position: bottom;
    background-image: url("/images/background_cover_mobile.png");
    background-size: cover;
    height: 950px;
  }

  .map {
    width: $width-iframe-big;
    height: $height-iframe-big;
    margin-top: 40px;
  }

  .overlay {
     background:transparent; 
     position:relative; 
     width: $width-iframe-big;
     height: $height-iframe-big;
     top: $height-iframe-big;
     margin-top: -$height-iframe-big;
  }

  .credits-section {
    .title {
      font-size: 30px;
    }
    .name { 
      font-size: 22px;
    }
  }
}
