$icon-font-path: '../fonts/';
$height-iframe: 300px;
$height-iframe-big: 400px;

$width-iframe: 95%;
$width-iframe-big: 100%;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
// endbower

body {
  font-family:  Verdana, sans-serif;
}

.main-title {
  font-family: 'Special Elite','serif';
  font-size: 60px;
  font-weight:normal;
}

.subtitle {
  font-family: 'Special Elite','serif';
  margin-top: -10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.title-section {
  padding-top: 60px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.presents {
  font-size: 25px;
}

.overlay {
   background:transparent; 
   position:relative; 
   width: $width-iframe;
   height: $height-iframe; /* your iframe height */
   top: $height-iframe;  /* your iframe height */
   margin-top: -$height-iframe;  /* your iframe height */
}

.info-section {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.credits-section {
  text-align: center;
  .title {
    font-weight: bold;
    font-size: 22px;
  }
  .name { 
    font-size: 16px;
  }
  .director {
    padding-bottom: 20px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.first-panel {
  background-image: url("/images/background_cover_mobile.png");
  background-position: bottom;
  background-size: cover;
  height: 570px;
  margin-top: 50px;
}

.second-panel {
  padding: 40px 0px;
  background: #E26A6A;
  color: white;
}

.third-panel {
  padding: 100px 0px;
  background: #ECECEC;
  color: #22313F; 
}

.description-inner {
  margin-top: 40px;
}

.address {
  margin-top: 40px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #9d9d9d;
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  margin: auto;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #F9BF3B;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #F9BF3B;
}


time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #F9BF3B;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.map {
  width: $width-iframe;
  height: $height-iframe;
  margin-top: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .main-title {
    font-size: 150px;
  }

  .subtitle {
    font-size: 35px;
  }

  .first-panel {
    background-position: center;
    background-image: url("/images/background_cover.png");
    background-size: cover;
    height: 1200px;
    margin-top: 50px;
  }

  .map {
    width: $width-iframe-big;
    height: $height-iframe-big;
    margin-top: 0px;
  }

  .overlay {
     background:transparent; 
     position:relative; 
     width: $width-iframe-big;
     height: $height-iframe-big;
     top: $height-iframe-big;
     margin-top: -$height-iframe-big;
  }

  .credits-section {
    .title {
      font-size: 30px;
    }
    .name { 
      font-size: 22px;
    }
  }
}
